{% extends 'base.html' %}

{% block content %}
    <div><img style="height: 50px; width: 50px" src="{{ task.image.url }}"></div>

    <h1> {{ task.title }}</h1>
    <p>Описание: {{ task.description }}</p>
    <p>Приоритет: {{ task.get_priority_display }}</p>
    <p>Дата создания: {{ task.created_at }}</p>
    <p>Дедлайн: {{ task.deadline}}</p>
    <p>Статус: {{ task.status }}</p>
    <p>Процесс: {{ task.completed_at }}</p>


    <button><a href="{% url 'task_update' task.id %}"> Update </a></button>
    <button><a href="{% url 'task_delete' task.slug %}">  Delete </a></button>
    <button><a href="{% url 'list_task' %}"> Back </a></button>

{% endblock %}





